body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

table,
th,
td {
  border: 1px solid coral;
  border-collapse: collapse;
}
th,
td {
  padding: 15px;
  text-align: left;
}
#t01 {
  width: 100%;
  background-color: cornflowerblue;
}

table {
  width: 100%;
}
table,
th,
td {
  border: 1px solid white;
  border-collapse: collapse;
}
th,
td {
  padding: 15px;
  text-align: left;
}
#t01 tr:nth-child(even) {
  background-color: cyan;
}
#t01 tr:nth-child(odd) {
  background-color: wheat;
}
#t01 th {
  background-color: burlywood;
  color: white;
}
